<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/session/session.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

</script>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

<main id="root"></main>
