<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/session/session.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Muli:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/vegur" type="text/css"/>
<head profile="http://www.w3.org/2005/10/profile">
<link rel="icon"
      type="image/x-icon"
      href="https://s3.amazonaws.com/sstify-dev/images/favicon.ico">
<main id="root"></main>
