<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/session/session.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

</script>
<link href="https://fonts.googleapis.com/css?family=Muli:200" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/vegur" type="text/css"/>
<main id="root"></main>
