.main-container {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.top-side-elements {
  display: flex;
  flex: 1;
  justify-content: space-between;
  height: 100%;
  width: 100%
}

.bottom-side-elements {
  height: 90px;
  width: 100%;
  background-color: #353131;
  position: fixed;
  bottom: 0;
}

.sidebar {
  height: 100%;
  width: 220px;
  background: linear-gradient(#161616, black);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.playbar {
  height: 100%;
  color: white;
}

.content-box {
  flex: 1;
  width: 85%;
  background: linear-gradient(#544848, black);
  color: white;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.sidebar-logo img {
  height: 50px;
  width: 50px;
}

.sidebar-logo span {
  margin-left: 15px;
  color: #1aff66;
  font-size: 24px;
}

.playlist-add-button {
  background: none;
  color: #d7dbe2;
  border: none;
}
