.playbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-controls {
  color: gray;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-controls i {
  font-size: 24px;
}

.play-controls i:hover {
  color: white;
  cursor: pointer;
}

.play-icon {
  size: 24px;
}

.hidden {
  display: none;
}

#audio-play-button {
  font-size: 36px;
}

#audio-pause-button {
  font-size: 36px;
}
