.playbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play-controls {
  height: 70%;
  color: gray;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play-controls i {
  font-size: 24px;
}

.play-controls i:hover {
  color: white;
  cursor: pointer;
}

.play-scroll-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-scroll-bar span {
  font-size: 12px;
}

.play-scroll-bar progress {
  margin: 0px 10px 0px 10px;
  width: 500px;
  height: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  background: gray;
  border-radius: 100px;
}

progress::-moz-progress-bar {
  background: gray;
  border-radius: 100px;
}

progress::-webkit-progress-value {
  background: white;
  border-radius: 100px;
}

progress::-moz-progress-value {
  background: white;
  border-radius: 100px;
}

.control-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.play-icon {
  size: 24px;
}

.hidden {
  display: none;
}

#audio-play-button {
  font-size: 36px;
  margin: 0px 15px 0px 15px;
}

#audio-pause-button {
  font-size: 36px;
  margin: 0px 15px 0px 15px;
}

.now-playing-info {
  display: flex;
  margin-left: 20px;
  width: 300px;
  overflow: hidden;
  border: 1px solid #353131;
}

.now-playing-spans {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.now-playing-spans span:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}

.now-playing-spans span:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}

.now-playing-spans span:last-child {
  font-size: 12px;
  color: gray;
  font-family: 'Muli';
}

.now-playing-spans span:hover {
  text-decoration: underline;
  color: white;
}

.now-playing-info img {
  height: 60px;
  width: 60px;
}
