.login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-image: url('http://cdn.wallpapersafari.com/77/34/HjaoFp.jpg');
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.login-form-box {
  background-color: white;
  display: inline;
}
