.login-form-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: black;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
}

.login-form-box {
  color: white;
}

.login-form-box input[type="text"], .login-form-box input[type="password"] {
  color: white;
  background: none;
  margin: 10px 10px 10px 0px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  width: 100%
}
